.container {
  max-width: 1200px;
  margin: 0 auto;
}
span.my {
  text-align: left;
  height: 0.4rem;
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 0.2rem;
  z-index: 1;
}

span.my1 {
  text-align: end;
  height: 0.4rem;

  height: auto;
  background-color: white;
  border-radius: 0.2rem;
  z-index: 1;
}
/* Header */
.container > h1 {
  padding: 20px 0;
  text-align: center;
}

/* Cart Section */
.cart {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

/* Products Section */
.products {
  flex: 0.75;
  margin-right: 20px;
  width: 70%;
}

.product {
  display: flex;
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.product img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.product img:hover {
  transform: scale(1.04);
}

.product-info {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-name,
.product-quantity,
.product-total {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 170px;
}

.product-remove {
  width: 110px;
  height: 40px;
  border-radius: 3px;
  font-size: 15px;
  color: white;
  background-color: #e74c3c;
  border: none;
  cursor: pointer;
}

.product-quantity input {
  width: 40px;
  padding: 5px;
  text-align: center;
}

/* Cart Total Section */
.cart-total {
  flex: 0.25;
  flex-grow: 0.25;
  flex-shrink: 1;
  flex-basis: 0%;
  padding: 20px;
  height: fit-content;
  border: 1px solid #873e23;
  border-radius: 5px;
  background-color: #f0efeb;
  z-index: 10;
}

.cart-total p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 20px;
}
.cart-total p span {
  background-color: #f0efeb;
}

.checkout-button {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  font-size: 15px;
  color: white;
  background-color: #3633bb;
  transition: 300ms ease-out;
  border: none;
  cursor: pointer;
}
.checkout-button:hover {
  background-color: #07058d;
}

/* Responsive Styles */
@media screen and (max-width: 700px) {
  .remove {
    display: none;
  }

  .product {
    height: 150px;
  }

  .product img {
    height: 150px;
    width: 200px;
  }

  .product-name,
  .product-price,
  .product-category {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 900px) {
  .cart {
    flex-direction: column;
  }

  .cart-total {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1220px) {
  .container {
    max-width: 95%;
  }
}
